<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    </head>

    <body style="background-image: linear-gradient(45deg, #29323c, #485563);" align="center">
        <img src="{% static '/images/bender.png' %}", style="margin-left: auto; margin-right: auto;">
          <p align="center" style="font-family: 'Quicksand', serif;"><span style="font-size:500%">#404 </span> <br> Try again. </p>
          <h3 align="center"></h3>
    </body>

</html>